/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.validation.prefs
index.php
